{% include "navbar.html" %}

{% block amazeshow %}
<style>
    body{
        background-color: rgb(3, 45, 44);
    }
    .movies form{
        border: 1px solid;
        width:500px;
        padding:50px 5px;
        box-sizing: border-box;
        margin:0% 39%;
    }
    .movies #id_name{
        margin-left: 35px;

    }
    .movies #id_poster{
        margin-left: 33px;
        
    }
    .movies #id_details{
        margin-left: 29px;
    }.movies #id_budget{
        margin-left: 25px;
    }.movies #id_box_office{
        margin-left: 3px;
    }.movies #id_rating{
        margin-left: 32px;
    }.movies #id_trailer{
        margin-left: 36px;
    }.movies #id_name{
        margin-left: 35px;
    }
    h1{
        color:aliceblue;
        text-align: center;
        margin-top:5%;
        margin-bottom: 2%;

    }
    label{
        color:aliceblue;
        font-size: larger;
    }
    input{
        color:rgb(0, 0, 0);
    }
    
</style>
<div class="container">
    <div class="jumbotron">
        
        <h1>Add Movies</h1>
        <div class="movies">
            <form action="" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-info"  value="Add">
            </form>
        </div>
        
    </div>
</div>


{% endblock  %}
