{% include "navbar.html" %}
{% block amazeshow %}
<style>
    body{
        background-color: rgb(255, 255, 255);
    }
    h1{
        margin-top: 150px;
        text-align: center;

    }
    
    
    .registerform{
        color:white;
        box-shadow: 2px 2px 10px rgb(87, 86, 86);
        background-color: rgb(90, 89, 83);
        border:1px solid;
        border-radius: 10px;
        width:500px;
        height:290px;
        margin-top: 100px;
        margin-left: 400px;
        padding-left: 100px;
        padding-top:45px;
        border-color: transparent;
    }
    #id_username{
        margin-left: 35px;
    }
    #id_email{
        margin-left: 9px;
    }
    #id_password{
        margin-left:40px ;
    }
    #kkk{
        margin-top: 15px;
        width:300px;
        background-color: blue;
    }
    .helptext{
        display:none;
    }

</style>





<div class="container">
    <div class="jumbotron">
        {% if registration %}
            <h1>registraion is successfull</h1>
        {% else %}
            <h1>Registration Form</h1>
            <form action="" method="POST" class="registerform">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-success" id="kkk" value="register">
            </form>
        {% endif %}
    </div>
</div>



{% endblock  %}
